@background: rgb(255, 255, 255);
@textPrimary: #000000;
@textSecondary: #000000;
@textTertiary: #000000;
@textNormal: rgb(45, 42, 42);
@colorPrimary: #727070;
@colorSecondary: #000000;
@colorError: #f55555;
@colorSuccess: #4caf50;
@fontBold: "Poppins", sans-serif;
@fontNormal: "Poppins", sans-serif;

* {
    margin: 0;
    padding: 0;
}

body {
    background: @background;
    font-family: @fontNormal;
    font-size: 18px;
    color: @textNormal;
}

nav {
    background: @background;

    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background: linear-gradient(to left, @colorPrimary, @colorSecondary);
        opacity: 0;
        transition: opacity 0.35s;
    }

    &.scrolled:after {
        opacity: 0.2;
    }
}

.text-secondary {
    &,
    & a {
        color: @textSecondary;
    }
}

.text-tertiary {
    &,
    & a {
        color: @textTertiary;
    }
}

.text-primary {
    &,
    & a {
        color: @textPrimary;
    }
}

.color-primary {
    color: @colorPrimary;
}

.color-secondary {
    color: @colorSecondary;
}

.res-message {
    transition: opacity 0.35s;
    opacity: 0;
}

.res-message,
.color-success {
    color: @colorSuccess;
}

.color-error {
    color: @colorError;
}

.wall svg text {
    // font: bold 10px sans-serif;
    font-family: @fontBold;
    font-weight: 400;
    font-size: 28px;
    letter-spacing: 5px;
    display: flex;
    width: 500px;
}

#menu-open path {
    fill: @textSecondary;
}

.font-bold,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: @fontBold;
}

.btn {
    height: 50px !important;
    line-height: 50px !important;
    font-size: 14px !important;
    letter-spacing: 1px;
    margin: 25px 0;
    padding: 0 45px !important;
    background-image: linear-gradient(
        to left,
        @colorPrimary,
        @colorSecondary
    ) !important;
    color: #fff !important;
    border: none !important;

    &.disabled {
        opacity: 0.7;
    }
}
.container-bt {
    display: flex;
    place-content: center;
}

.v-line {
    width: 1px;
    height: 35px;
    position: absolute;
    text-transform: uppercase;
    -ms-writing-mode: tb-rl;
    /* writing-mode: vertical-rl; */
    left: 11px;
    transform: translateY(-52.3888px);
}
.arrow {
    color: black;
    // bottom: -70px;
    font-size: 18px;
    // left: 50%;
    // margin-left: -6px;
    letter-spacing: 2px;
    // overflow: hidden;
    // padding-top: 70px;
    position: absolute;
    text-transform: uppercase;
    -ms-writing-mode: tb-rl;
    writing-mode: tb-rl;
    transform: translateY(11.6112px);

    &:before {
        content: "";
        position: absolute;
        width: 30%;
        height: 80px;
        left: 50%;
        top: 55%;
        transform: translate(-50%, -50%) scale(0);
        // border-radius: 50%;
        opacity: 0.8;
        transition: transform 0.26s;
        background-color: #f7b830;
        color: black;
    }

    // &.active:before,
    // &:focus:before,
    &:hover:before {
        transform: translate(-50%, -50%) scale(1);
    }

    // border: 1px solid #b1b1b1;
    // outline: 0;
    // cursor: pointer;

    // margin: 158px auto 0 auto;
    // height: 20px;
    // border: 1px solid black;
    // width: 20px;
    // height: 50px !important;
    // line-height: 50px !important;
    // font-size: 14px !important;
    // letter-spacing: 2px;
    // padding: 10px 0px !important;
    // background: black;

    // background-image: linear-gradient(
    //     to left,
    //     @colorPrimary,
    //     @colorSecondary
    // ) !important;
    // color: #fff !important;
    // // border: none !important;
    // justify-content: center;
    // // border-radius: 5px;

    // &.disabled {
    //     opacity: 0.7;
    // }
}
// background-color: @color-secondary;

.overlay-link {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    left: 0;
    top: 0;
}

.pseudo-divider:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 5px;
    background: #f2a602;
    // linear-gradient(
    //     to left,
    //     @colorPrimary,
    //     @colorSecondary
    // ) !important;
    bottom: -4px;
    left: 0;
}

.icon {
    width: 22px;
    height: 22px;
    display: inline-block;
    vertical-align: middle;
}

section {
    padding: 60px 0;

    svg {
        display: block;
        margin: 0 auto;

        text {
            font: bold 8px sans-serif;
            font-family: @fontBold;
        }
    }
}

.section-title {
    padding: 20px 0;
    margin-bottom: 35px;
    text-align: center;
}

.field-box {
    width: 100%;
    font-size: 20px;
    background: @background;
    color: @textNormal;
    position: relative;
    z-index: 2;
    outline: 0;
    display: block;
    resize: none;
}

.field-box:not(textarea) {
    height: 48px !important;
}

.input-border {
    padding: 1px;
    position: relative;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(
            to left,
            @colorPrimary,
            @colorSecondary
        ) !important;
        border-radius: 5px;
    }
}

footer {
    background: darken(@background, 4%);
}

nav ul li a:before {
    background: @colorSecondary;
}

.sidebar-content {
    background: @background;
}

.pagination ul li {
    a {
        background: @colorPrimary;
        color: #fff;

        svg path {
            fill: #fff;
        }
    }

    &.active {
        a {
            background: linear-gradient(
                to left,
                @colorPrimary,
                @colorSecondary
            );
        }
    }
}

.fill-primary {
    &,
    & path {
        fill: @colorPrimary;
    }
}

.fill-secondary {
    &,
    & path {
        fill: @textSecondary;
    }
}

.blog-post blockquote {
    border-left: 3px solid @colorSecondary;
}

.dark-mode {
    @background: #4a4646;
    @textPrimary: #830000;
    @textSecondary: #8e8e8e;

    @textTertiary: #ffffff;
    @textNormal: #b8b7bf;
    @colorPrimary: #000000;
    @colorSecondary: #fefefe;
    @colorError: #f55555;
    @colorSuccess: #4caf50;

    & {
        background: @background;
        color: @textNormal;
    }

    nav {
        background: @background;
    }

    .text-secondary {
        &,
        & a {
            color: @textSecondary;
        }
    }

    .text-tertiary {
        &,
        & a {
            color: @textTertiary;
        }
    }

    .text-primary {
        &,
        & a {
            color: @textPrimary;
        }
    }

    .color-primary {
        color: @colorPrimary;
    }

    .color-secondary {
        color: @colorSecondary;
    }

    .res-message,
    .color-success {
        color: @colorSuccess;
    }

    .color-error {
        color: @colorError;
    }

    .field-box {
        background: @background;
        color: @textNormal;
    }

    footer {
        background: darken(@background, 4%);
    }

    nav ul li a:before {
        background: @colorSecondary;
    }

    .btn {
        background-image: linear-gradient(
            to left,
            @colorPrimary,
            @colorSecondary
        ) !important;
    }

    .pseudo-divider:after {
        background: linear-gradient(
            to left,
            @colorPrimary,
            @colorSecondary
        ) !important;
    }

    .sidebar-content {
        background: @background;
    }

    #menu-open path {
        fill: @textSecondary;
    }
}

div[role="navigation"] {
    display: none;
}
@media only screen and (max-width: 800px) {
    div[role="navigation"] {
        display: block;
    }
    .container {
        width: 95% !important;
    }

    section {
        padding: 30px 0;
    }

    section svg text {
        font: bold 12px sans-serif;
        font-family: "Poppins", sans-serif;
    }
}
