.wall {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    text-align: center;
    position: relative;
    height: 100vh;

    .intro {
        .tag-line {
            font-size: 2rem;
            font-weight: 400;
            letter-spacing: 1rem;
        }

        .caption {
            font-weight: 500;
            font-size: 60px !important;
            margin: 45px 0 150px 0;
            font-size: 5rem;
            text-decoration: none;
            place-content: center;
            text-align: center;
            display: flex;
        }
    }

    svg {
        display: block;
        margin: 0 auto;
    }

    .social-buttons {
        position: absolute;
        left: 40px;
        bottom: 0px;

        ul {
            list-style: none;

            li {
                margin: 5px 0;
                img {
                    opacity: 0.7;
                    width: 50px;
                    height: 50px;
                    transition: opacity 0.25s;
                }

                &:hover {
                    img {
                        opacity: 1;
                    }
                }
            }
        }
    }
}
.blg {
    display: flex;
    margin: auto;
    width: 98%;
    padding: 30px;
}
.twitter {
    width: 60%;
    margin:0 30px;
    margin-top:180px;
    padding: 0 10px;
}

@media only screen and (max-width: 800px) {
    .wall {
        .main-title {
            svg {
                width: 80%;
                height: 100px;
            }
        }
        .intro {
            .tag-line {
                font-size: 0.8rem;
                font-weight: 400;
                letter-spacing: 1rem;
            }

            .caption {
                margin: 25px 0 150px 0;
                font-size: 23px !important;
                font-weight: 500;
                text-decoration: none;

                text-align: center;
                display: flex;
            }
        }
        .social-buttons {
            display: none;
        }

        svg text {
            font: normal 14px sans-serif;
        }
    }
    .blg {
        display: block;
        margin: auto;
    }
    .twitter {
        width: 100%;
        margin:auto;
    }
}

.red {
    color: #f2a602;
}

.bkg-blk {
    background: #000000fa;
    padding: 0px 0px 0px 10px;
}
